# Ignore node_modules
node_modules/

# Ignore Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore environment variables
.env

# Ignore IDE-specific files
.vscode/
.idea/
app.js
